.footer{

  .footerWrap{
    border-top: 2px solid #dfe2e4;
    background: #fff;

  .leftBlock{
    text-align: center;
    margin: 25px;
    color: #9f9f9f;
    }

  .rightBlock{
      text-align: center;
      margin: 25px;

    a{
      text-decoration: none;
      color: #9f9f9f;
    }
    }
    @media screen and (max-width: 768px) {
      .leftBlock{
        margin: 10px;
      }

      .rightBlock{
        margin:10px;
      }
    }
  }
}