.footer{

  .footerWrap{
    border-top: 1px solid #dfe2e4;
    background: #fff;

  .leftBlock{
    text-align: center;
    margin: 25px;
    }

  .rightBlock{
      text-align: center;
      margin: 25px;

    a{
      text-decoration: none;
      color: #000;
    }
    }
  }

}